server {
    listen       80;
    listen       [::]:80;
    server_name  SERVERNAME;

    location '/.well-known/acme-challenge' {
        default_type "text/plain";
        root  /opt/www/lets;
    }

}
